name: Generate and deploy

on: [push]

env:
  FOODDATA_ZIP_URL: 'https://fdc.nal.usda.gov/fdc-datasets/FoodData_Central_survey_food_json_2021-10-28.zip'
  FOODDATA_ZIP_FILENAME: 'FoodData_Central_survey_food_json_2021-10-28.zip'
  FOODDATA_JSON_FILENAME: 'FoodData_Central_survey_food_json_2021-10-28.json'
  FOODDATA_DIR: fooddata

jobs:
  generate-and-test-and-publish:
    runs-on: ubuntu-latest
    steps:
      - name: Check out repo
        uses: actions/checkout@v3
      - name: Install project's Python package
        run: pip install -e .
      - name: Load USDA FDC FoodData from cache
        id: download
        uses: actions/cache@v3
        with:
          path: |
            ${{ env.FOODDATA_DIR }}
            indexed_FoodData_Central_survey_food_json_2021-10-28.jsons.tar.xz
          key: v1-${{ env.FOODDATA_ZIP_URL }}
      - name: Download USDA FDC FoodData
        if: steps.download.outputs.cache-hit != 'true'
        run: >
          (
            mkdir -p "$FOODDATA_DIR" &&
            cd "$FOODDATA_DIR" &&
            if [ ! -f "$FOODDATA_ZIP_FILENAME" ]; then
              curl "$FOODDATA_ZIP_URL" -o "$FOODDATA_ZIP_FILENAME" &&
              unzip "$FOODDATA_ZIP_FILENAME";
            fi
          )
      - name: Set up symlinks for input files
        run: ln -s "$FOODDATA_DIR/$FOODDATA_JSON_FILENAME"
      - name: Generate VegAttributes JSON
        run: fooddata-vegattributes-generate
      - name: Write file name of generated JSON to env
        run: >
          echo
          "GENERATED_JSON_FILENAME=VegAttributes_for_$FOODDATA_JSON_FILENAME"
          >> $GITHUB_ENV
      - name: Upload generated JSON(s) as GitHub artifact
        uses: actions/upload-artifact@v3
        with:
          name: generated-json
          path: |
            ${{ env.GENERATED_JSON_FILENAME }}
            debug_${{ env.GENERATED_JSON_FILENAME }}
      - name: Install test dependencies
        run: pip install -e .[test]
      - name: Run tests
        run: pytest
      - name: Publish generated JSON as GitHub release
        uses: softprops/action-gh-release@v1
        if: startsWith(github.ref, 'refs/tags/')
        with:
          files: ${{ env.GENERATED_JSON_FILENAME }}
  deploy-pages:
    needs: generate-and-test-and-publish
    runs-on: ubuntu-latest
    steps:
      - name: Check out repo
        uses: actions/checkout@v3
      - name: Download generated JSON(s) artifact from generate step
        uses: actions/download-artifact@v3
        with:
          name: generated-json
      - name: Generate GitHub Pages contents
        run: python .gh-pages/generate-pages.py
      - name: Copy GitHub Pages contents to temporary directory
        run: |
          PAGES_TMPDIR="$(mktemp -d)"
          cp -r .gh-pages/content/* "$PAGES_TMPDIR"/
          echo "PAGES_TMPDIR=$PAGES_TMPDIR" >> "$GITHUB_ENV"
      - name: Check out GitHub Pages branch (gh-pages)
        uses: actions/checkout@v3
        with:
          ref: gh-pages
          clean: true
      - name: Clear working tree and copy Pages contents over it
        run: |
          shopt -s dotglob
          shopt -s extglob
          git clean -xfd
          git rm -rf !(..|.|.git|.gitignore)
          cp -r "$PAGES_TMPDIR"/* ./
      - name: Commit and push changes for GitHub Pages
        run: |
          git config user.name 'github-actions-wf'
          shopt -s globstar
          git add -A .
          if git diff --cached --exit-code; then
            echo "no updates to GH pages contents"
          else
            git commit -m 'Update GH pages contents'
            git push
          fi
